[2021-09-14 09:59] GauthierPLM opened #12 "Recovery code required every time I login after disabling MFA"
I disabled MFA to allow my colleague to access the account during our trial. However, after doing so, we are prompted to enter a recovery code every time we connect to Ory. We currently used 3 of the codes, and would have to renew them regularly in the current working.

Is there any option to fully disable MFA / recovery codes ?

Steps to reproduce:
- Create a new account on Ory Cloud.
- Enable 2F

[2021-09-14 10:04] aeneasr commented on #12
Thank you for the report! Unfortunately we forgot the option to disable recovery codes. So while it is possible to unlink TOTP and WebAuthn, it is not possible to remove recovery codes, meaning that you always have them enabled, which means you have an account with MFA, which means you need them to sign in 😅

As a workaround you could use Bitwarden or 1Password to share the TOTP key until we have

[2021-09-14 15:41] vinckr opened #13 "Dart SDK not null safe"
Report from amorevino developer:

**Describe the bug**

We have an SDK for Dart: https://pub.dev/packages/ory_client

This is created with Dart version 2.0. Dart support for null safety was added in 2.8 (https://dart.dev/null-safety).

This leads to errors when developing Flutter apps.

**To Reproduce**

https://pub.dev/packages/ory_client/score

[code]

**Expected behavior**

Package is null safe

[2021-09-14 16:43] aeneasr commented on #13
Could you @ the dev here please?

[2021-09-15 09:06] zepatrik commented on #13
I assume @bennihz or @sashatalalasha?

[2021-09-15 09:08] vinckr commented on #13
Yes it was @sashatalalasha who reported the issue, sorry missed that.

[2021-09-15 09:21] aeneasr commented on #13
@sashatalalasha have you been able to use the Dart SDK at all or does this prevent you from embedding it? Also, what version of the SDK have you been using?

Unfortunately the tool we use to generate the Dart code generates really bad code that sometimes doesn’t even compile. I have raised an issue in our pipeline on this (https://github.com/ory/sdk/issues/109) and also opened/track several issues

[2021-09-16 09:37] sashatalalasha commented on #13
@aeneasr I can't build the app as it constantly throws errors. The SDK version is 2.13.4.

Actually, I didn't plan to use the ory client package as Benni is working on a backend that will serve as a mediator between the app and Kratos. Just wanted to check how direct communication works :)

Sure we can look for a good code generator together when you're back.

Thanks!

[2021-09-16 09:49] aeneasr commented on #13
Ah ok! That works also :) If any of you both need help just drop an issue or GitHub discussion here!

It would also be great if we could sit together for an hour or so to look at your use of Dart and how we could get our SDKs up to speed as we have flows for native apps :)

[2021-09-18 17:59] provokateurin commented on #13
https://github.com/ory/sdk/issues/109#issuecomment-922347730 I want to fix this issue, as it would be great to have a correctly working dart generator.

[2021-09-30 12:44] piotrmsc opened #14 "Multi-Factor Authentication"
**Feature Overview**

Relying on user and password authentication only is not enough when building a secure system. It is good as a starting point in the beginning but for the production use case it is not secure enough.
Passwords are subjects of attacks like Brute Force or Credentials Stuffing but not limited to.
To address this security issue, our product must support additional authentication f

[2021-09-30 13:00] piotrmsc opened #15 "Ory Project Membership"
**Feature Overview**

Currently the project is single-seated meaning only one person can apply changes. Access to the project cannot be granted to other persons like developers or QA's, it limits developer experience, but also creates a bottleneck as there is only one person responsible for everything.
To address the problem, project owners will be able to invite other collaborators to the project

[2021-09-30 13:16] piotrmsc opened #16 "Bring Your Own Domain"
**Feature Overview**

Allow developers to integrate user flows (login, signup, recovery) using your company domain name. This optional feature will enable a better user experience for users of your application. Currently, user flows are handled in Ory hosted domain that is provided per Ory Project : `$YOUR_PROJECT_SLUG.projects.oryapis.com` with BYOD users will be able to login to your application

[2021-10-01 08:44] piotrmsc opened #17 "Developer Subscription"
**Feature Overview**

New Subscription plan allowing users to use Ory Cloud for free, however, limited in usage (API Limits) and without certain features.

**Additional context**

Details of limitations will be provided shortly.

[2021-10-01 08:59] piotrmsc opened #18 "Social Identity Provider integration"
**Feature Overview**

Enable social identity providers in your Ory Project configuration to allow user authentication federation in your application.
Google, Facebook, Github + in general OIDC compliant providers will be supported.
This feature will allow your users to sign in/sign up either by using a standard username&password or by using well-known providers: "Sign in with ... " Google for exam

[2021-10-01 22:45] tc-amorevino opened #19 "Broken links to docs in the console"
Most of the links leading to the docs end up on a 404.

**To Reproduce**

Navigate to "Email Verification" within console.ory.sh and click on the link: "Email / Phone Verification in the documentation". The link leads to https://www.ory.sh/docs/guides/email-phone-verification-account-activation (404)

It looks like the docs are either not published or haven't been created yet. Perhaps link to http

[2021-10-02 08:30] aeneasr commented on #19
Thank you for the report! We will be addressing those issues and also adding tests to ensure links don’t end up in 404s!

[2021-10-19 06:48] #12 closed, assigned to nobody

[2021-10-19 07:07] aeneasr commented on #12
This has been fixed and will soon be deployed to Ory Cloud!

[2021-10-21 19:17] atom19-i commented on #19
Hi @aeneasr , can i contribute and fix this issue?

[2021-10-22 08:08] vinckr commented on #19
Hello @atom19-i,
I fear this issue would be too much to handle for a newcomer, and it is also not directly related to Ory Open Source.

If you are looking for stuff to work on, please check out the [good first issue](https://github.com/ory/hydra/labels/good%20first%20issue), [help wanted](https://github.com/ory/hydra/labels/help%20wanted) and [docs](https://github.com/ory/hydra/labels/docs) labels

[2021-10-22 08:29] atom19-i commented on #19
@vinckr no worries! thanks for notifying!

[2021-10-25 07:44] parthiv11 opened #21 "Add new update issue template in yaml lang"
- **Is your feature request related to a problem? Please describe.**
   - Added bug Report and feature request Template in yaml language

- **Describe the solution you'd like**
    - With the help of documentation at github blog make new template

[2021-11-01 18:04] aeneasr commented on #21
https://github.com/ory/cloud/pull/22#issuecomment-956458392

[2021-11-01 18:04] #21 closed, assigned to nobody

[2021-11-11 10:38] #19 closed, assigned to nobody

[2021-12-03 14:39] vinckr opened #26 "Ory Proxy Guide issues"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2021-12-03 14:50] vinckr commented on #26
I think I just had the wrong version my bad.

[2021-12-03 14:50] #26 closed, assigned to nobody

[2021-12-08 22:30] mitar opened #27 "No way to import/export data and configuration"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Or

[2021-12-08 22:50] mitar opened #28 "Support GitOps"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Or

[2021-12-09 09:07] aeneasr commented on #28
Absolutely! This is a great idea and we're currently spending a lot of time on bringing parity between open source configuration and ory cloud configuration, as well as parity to the SDKs and documentation. So this is a work in progress already, but it will take a bit of time before this is available!

[2021-12-09 09:18] piotrmsc commented on #27
Hello @mitar,
Thanks for checking it out! Right now we are in the process of changing how the configuration is being handled in the Ory Cloud therefore data import&export is blocked at the moment. How we handle configuration is super important to us and it's a priority for us for now, it's a dependency of data import&export. We need to streamline usage on our side. In terms of timelines we are now

[2021-12-09 09:37] mitar commented on #27
Suuureee, but you are already listing it as a feature. That's the problem.

[2021-12-09 10:37] piotrmsc commented on #27
yes, it got outdated, bug confirmed ;)
@BlueAcidFrog fyi

[2021-12-09 11:14] BlueAcidFrog commented on #27
@mitar your attention to detail is much appreicated! being updated.

[2022-01-02 18:07] roboptics opened #36 "SubmitSelfServiceLoginFlowWithHttpInfoAsync for Aal2 fails using .NET client in SPA (browser mode)"
### Preflight checklist

- [x] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Or

[2022-01-02 20:13] aeneasr commented on #36
Thank you for the report! It’s very unfortunate that this SDK method is difficult to use. We will work towards improving the SDK use. At the moment most clients are autogenerated.

One option you have is to let the browser HTML form do the submission. Then you do not need to worry about the right tokens :) Could you maybe explain a bit where you use the SDK method? That could help me better unders

[2022-01-02 20:20] aeneasr commented on #36
I looked at our swagger definitions and it looks like the submit login method is missing the cookie parameter. So it’s something we can address fairly quickly in Kratos, and merge then downstream in Cloud :)

Since it’s EoD here, you’ll probably have the fix by tomorrow, latest Tuesday!

[2022-01-02 21:28] roboptics commented on #36
Thank you for your reply.

Yes, the (session) cookie parameter is missing in the submit login method, but looking at the SDK source (for instance ToSessionWithHttpInfoAsync) you can see that the cookie is passed to the underlying request as:
[code]

And a working workaround is to set the:
[code]
which is later added to the localVarRequestOptions.HeaderParameters as intended.

Currently the problem

[2022-01-03 07:10] aeneasr commented on #36
Got it, thank you for the great explanation! One question I have is whether you need to submit the form using programmatic access or if it would be possible to submit the HTML form as is:

[code]

I am asking because the browser should send all the cookies automatically, which is why the SDK submission methods do not have a cookie parameter at the moment.

Or are you proxying the requests to the A

[2022-01-03 11:07] roboptics commented on #36
We're developing an SPA application, so using the programmatic accessor seems to be the right way to interact with Ory.
After some sniffing around, we figured out what the problem is. The Ory server application is only splitting multiple cookies sent in the Cookie HTTP header if they are terminated with ";", this is why it was not working. I don't think this is standard behavior (https://developer

[2022-01-03 11:38] aeneasr commented on #36
Got it, thanks! I'm not sure why it needs to be terminated but it appears to be the requirement of the Go Cookie package so I'm not sure if we can change it.

One question I have is, if the application is running in the browser (so SPA), shouldn't thw browser send the cookies automatically alongside the AJAX request even if you do programmatic access? Or does this setup work differently when using

[2022-01-03 12:48] roboptics commented on #36
The client browser send the async request to our custom UI page (our server) which in turn uses the Ory SDK to pass the information to the Ory Servers. From our understanding of the Ory SDK for .NET, the ClientApi relies on Restsharp to send requests to the Ory server endpoints. Each request is filled with cookies, headers, form data, etc. manually using the ClientApi.Configuration class and the p

[2022-01-03 14:07] aeneasr commented on #36
I see! We are still working on improving the documentation around how these flows work (in particular, writing your own UI). The general idea is to not intercept any requests but instead let the browser deal with this stuff. That way, you don't have to work with any of the cookies and others. That is why the cookies are not part of the SDK.

You can find a JavaScript example of that here (SPA with

[2022-01-06 06:43] #14 closed, assigned to nobody

[2022-01-06 06:43] #16 closed, assigned to nobody

[2022-01-06 06:43] #17 closed, assigned to nobody

[2022-01-06 09:26] mitar commented on #16
So this is now available?

[2022-01-06 09:27] mitar commented on #17
So this is now available?

[2022-01-06 09:32] aeneasr commented on #17
Yes!

[2022-01-06 09:32] aeneasr commented on #16
Yes!

[2022-01-06 09:33] aeneasr commented on #16
Ping vincent (ory) in slack to get one year free for the start up plan which includes custom domain / bring your own domain :)

[2022-01-08 12:15] tc-amorevino opened #39 "Logo not displaying correctly on Ory Cloud Invoices"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-01-08 12:16] aeneasr commented on #39
Thank you for the report. @zepatrik can you take a look? We're probably using the wrong logo for the PDF (white on transparent vs blue on transparent) for the given background (paper, white).

[2022-01-08 12:27] tc-amorevino opened #40 "Unintuitive Ui for Custom Domains"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-01-08 12:28] aeneasr commented on #40
Thank you for the report - @MicLeey this should probably show a loading indicator instead. Maybe part of the state refactor?

[2022-01-08 12:55] tc-amorevino opened #41 "Link to Page displaying JSON (406 code)"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-01-08 13:10] aeneasr commented on #41
@MicLeey the invoice button should not be visible or disabled if the user does not have yet paid anything. If no checkout was initiated, the user will not have a stripe account - hence the error from the backoffice.

Please note that being on the free plan is not enough for validation, as a user might have purchased something a year ago, switched to free, then needed invoices retroactively. The on

[2022-01-08 13:19] tc-amorevino opened #42 "Custom Identity Schema not loading in the Ory Cloud UI"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-01-08 13:25] aeneasr commented on #42
Thank you for the report! @Benehiko can you please take a look? I assume this happens because the UI iterates over all the user's (!) schemas and then tries to find a match in the list and display that.

However, as @tc-amorevino hinted at, the created schemata should not only be available for his colleague, but for him too. So we should bind schemata to projects, not users.

To address the concre

[2022-01-09 09:16] Benehiko commented on #42
Yes, we only retrieve the schemas the user has created here since this is where the schema is being linked to (the user profile). I believe the idea behind this was a user could share the schema across projects (use a custom schema in multiple projects). Will take a look to implement a fix for this so that the custom schema is sharable to collaborators as well.

[2022-01-10 13:02] #41 closed, assigned to archived-m

[2022-01-10 13:27] #40 closed, assigned to archived-m

[2022-01-14 13:07] roboptics opened #44 "Missing ClientSubmitSelfServiceLoginFlowBody and ClientSubmitSelfServiceSettingsFlowBody constructors"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Or

[2022-01-14 15:50] aeneasr commented on #44
So sorry to hear you having trouble with this! The SDK is unfortunately fully autogenerated and the generator is known to have some bugs. Unfortunately we don’t yet have someone responsible for DotNet.

Would the equal raw HTTP request suffice as a workaround?

[2022-01-14 18:54] roboptics commented on #44
Hi,

If no other solution is available, that is an option. Thank you for your support.

[2022-01-17 09:47] aeneasr commented on #44
Could you share the full call in the SDK you are making? Will translate to REST then :)

[2022-01-17 12:59] roboptics commented on #44
Hi,

Below is a snippet of the relevant part of the code calling the SDK. Note that this code does not build because the called `ClientSubmitSelfServiceLoginFlowBody` constructor does not exist with argument type of `ClientSubmitSelfServiceLoginFlowWithLookupSecretMethodBody`. If it helps I can send samples for the other 3 missing constructors, but it is more of the same.

[code]

Let me know if y

[2022-01-19 22:31] aeneasr commented on #44
Sorry, I missed the notification! I’ll answer tomorrow if you’re still looking for a solution :)

[2022-01-20 09:49] roboptics commented on #44
No problem. This issue is still on the pending tasks list. If you have any update, let me know and we will try it out.

[2022-01-20 10:06] aeneasr commented on #44
Ok! So, the way you submit this form with REST would be like this:

[code]

The cookies `csrf_token_...` and `ory_session_...` should be copied from the request that ends up at your server. So you can basically just "pipe" the `Set-Cookie` header that arrives in your handler to Ory Kratos. That should do the trick! Make sure those cookies are set in the request with some printf statement. If they

[2022-01-24 16:48] tricky42 opened #45 "http to https redirects not configured correctly"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-01-24 16:49] tricky42 commented on #45
I added a quick fix in Cloudflare, therefore all standard domains `*.console.ory/*` and `*.projects.oryapis.com/*` are redirected correctly to `https`.

[2022-01-24 17:12] aeneasr commented on #45
Great! This can be closed then - fyi @vinckr

[2022-01-25 14:37] #45 closed, assigned to nobody

[2022-02-01 19:33] hpadrao commented on #13
Any news?

[2022-02-01 20:52] provokateurin commented on #13
I haven't tried using ory with a dart client in a while, but i've successfully used the dart2 generator from the openapi-generator 6.0.x branch. It has null-safety and seems to be working just fine. It is not released yet, so I don't know if ory wants to use it, but I'd say better use  (maybe) unstable than outright broken code.

[2022-02-01 21:00] aeneasr commented on #13
Oh nice! Yeah, 6.0x is still pretty broken I think but as soon as it becomes stable we wil definitely switch to it. Maybe we can also use individual versions for each SDK type, would require some refactoring though.

[2022-02-09 18:51] rhodee opened #48 "Authenticating a user login session from the callback handler"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-02-09 19:21] aeneasr commented on #48
Hey @rhodee thank you for opening this issue! We are working hard on improving this in the documentation, you can find the current work-in-progress here: https://github.com/ory/docs/pull/557

We have already create d a guide for this for expressjs, for Go it would work similar but I do of course understand if you want a specific Go guide:  https://docs-pgsuytxzy-ory.vercel.app/docs/guides/protect-

[2022-02-09 22:43] rhodee commented on #48
@aeneasr as always I appreciate your thoughtful responses to my (numerous) questions.

I think what I am after is a compilable application bundle which lives with the rest of the excellent examples native to Go. I'm happy to contribute as well. Since you are already driving to this conclusion I am very excited to pick this project back up and start delivering.

Ambitious for me as a current (and f

[2022-02-10 07:28] aeneasr commented on #48
That sounds great :) These are really good hints, we have on our list a couple of guides we want to write (not prioritized yet):

1. Add login to a (node|go|...) app
2. Add logout to a (node|go|...) app
3. Allow users to update their settings and profile
4. Add email verification
4. Add account recovery / password reset
5. Add multi-factor authentication to a (...) app

Do these sound helpful to y

[2022-02-10 15:10] rhodee commented on #48
This list is a great start. For our workflow I've built a CLI tool to (de)provision users and I think 5 and 6 could be deprioritized in favor of showing a workflow that also includes using an admin token as well as the web safe work from 1-3.

Thanks for being willing to hear feedback and I look forward to serving customers with this system!

P. S. - I saw OTP is on the roadmap too this is wonderf

[2022-02-10 19:24] aeneasr commented on #48
@rhodee thank you for the feedback! You're totally right, we need examples to help interact with the Admin APIs. While you're waiting for these docs to arrive, here's a code example:

[code]

Yes, OTP is on the roadmap :) There's already some work happening but we're currently prioritizing these code examples and documentation!

[2022-02-10 19:27] rhodee commented on #48
Thanks for keeping us engaged. I actually figured out the admin APIs and got blocked on the client side authentication.

Sent from ProtonMail mobile

-------- Original Message --------
On Feb 10, 2022, 1:24 PM, hackerman wrote:

[2022-02-11 08:32] leandro-branco opened #49 "Ability to disable self-service registration flow"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-02-11 08:35] aeneasr commented on #49
Thank you, this is a great idea, we're putting it on the roadmap :)

[2022-02-14 17:06] tricky42 commented on #28
Hi @mitar,

quick update from our side. We are hard at work working on this feature. It shouldn't take much longer for the feature to be available in the Ory CLI. We will ping you once the feature is released.

Cheers,

Andreas

[2022-02-14 23:02] aeneasr commented on #42
@Benehiko this is currently an issue for users with invites:

<img width="2553" alt="Screenshot 2022-02-15 at 00 00 56" src="https://user-images.githubusercontent.com/3372410/153961378-9be38350-54be-4265-9863-22138c60e01b.png">

[2022-02-15 01:41] hilem opened #51 "No returnTo being returned"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-02-15 07:25] aeneasr commented on #51
Thank you for the question @hilem :) The redirects currently only work if you submit the forms without AJAX, so as regular browser requests. We should either fix this or make it clear in the UIs and documentation. The idea behind it is that you can probably redirect the user to the right endpoint much easier in your app:

[code]

So the idea on our end was that it wouldn't make a lot of sense devs

[2022-02-15 08:02] hilem commented on #51
Thanks for clarifying!

[2022-02-15 20:14] lilstafe opened #52 "Didn't take the payment plan cancelled and now in Infinity load"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [x] This issue affects my [Or

[2022-02-15 21:14] aeneasr commented on #52
Hello, thank you for the report and sorry for the inconvenience! This is currently a known issue and we are working on resolving it.

One solution which might work for you is to go to the project create page and create a new project ( https://console.ory.sh/projects/create ) on the free plan. This should hopefully unblock you, and if not, we should have a fix in the next 48 hours deployed.

[2022-02-15 21:20] aeneasr commented on #52
Could you maybe share any errors that happen in your console?

[2022-02-15 22:06] tc-amorevino commented on #42
Hi all. Just seen you release the collaborator feature. Looks amazing!

This brings me back to this issue. As i understood, custom schemas are bound to 'collaborators' and not to the project.

If I remove a collaborator from our project, that has created a custom schema for the project, will the custom schema still apply for the project or will another collaborator have to add the same schema back

[2022-02-15 22:32] aeneasr commented on #42
Hey @tc-amorevino, thank you :)

Currently the schema is there but it is not shown in the UI for collaborators due to a bug. A hotfix for this is in the release pipeline and due tomorrow or on thursday. Since it's only a UI issue, removing a collaborator will not have any negative effect. Everything will work as it did.

We are additionally working on improving the ownership model of identity sche

[2022-02-16 11:49] amosbastian opened #53 "Cookies not being sent to backend after deploying"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-02-16 11:59] aeneasr commented on #53
Thank you for the detailed description!

I tried signing up but the sign up failed with a request to `https://www.api.boilerplate.live/api/create-user` which did not complete but resulted in a 500 error:

<img width="1197" alt="Screenshot 2022-02-16 at 12 53 25" src="https://user-images.githubusercontent.com/3372410/154259454-98b622c5-dde1-45c4-a7bc-0efc5f5b420e.png">

Is that related?

I then loo

[2022-02-16 12:02] roboptics opened #54 "Unable to select custom Identity Schema"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-02-16 12:03] aeneasr commented on #54
Do you by any chance have multiple users on your project? If so, are you the primary user?

[2022-02-16 12:05] roboptics commented on #54
Almost sure I am the only user. How can I check?

[2022-02-16 12:09] aeneasr commented on #54
Ok, thanks, if you have a project on the start up plan you can go to "settings" and it should show all invited users.

Can you maybe show a screenshot of the error and also what the 400 response says in its body? Make sure to redact any sensitive headesr like Cookie, Set-Cookie, and Authorization! :)

[2022-02-16 12:29] roboptics commented on #54
Hi,

I confirm I am the only user. We're on the developer plan, so I don't think it is even possible to invite other users.

Below find the full request  / response for the 400 error:

Request
--------

Request URL: https://api.console.ory.sh/backoffice/public/projects/<REDACTED>
Request Method: PUT
Status Code: 400
Remote Address: <REDACTED>
Referrer Policy: strict-origin-when-cross-or

Response

[2022-02-16 12:30] aeneasr commented on #54
Thank you for the report, I was able to reproduce this. The issue is that there is currently a bug in the UI logic where it is not possible to set an existing identity schema in the UI. As a workaround you can create a copy of the schema (so just click "customize identity schema", enter a name, click enter) to save the same schema as a new version, and then use that. That works for me at least!

[2022-02-16 12:36] roboptics commented on #54
I confirm that it works (I had already tried it), but if you try to go back and select it again it no longer works. We will keep creating a new identity schema when we want to switch as a work around and wait for a fix.

This brings me to the question (at the bottom) in my last email. Can we delete identity schemas? If so, how?

Best,

[2022-02-16 12:38] aeneasr commented on #54
Ok, currently it is not possible to delete them, but we could provide an option to forget the schema so it doesn't show up in the UI any more. We will also resolve this issue in the UI but a fix won't be available before next week as we also need to create a testing story around this!

[2022-02-16 12:38] amosbastian commented on #53
The signup is not working since the cookies aren't being sent to my backend. I'm doing something "hacky" where I send a request to the `create-user` endpoint after registration and then create a user in my database with the id given by Ory (ideally I'd use the hooks for this, but don't think it's implemented in Ory Cloud yet).

[code]

The first subdomain is the website, since Vercel has it set up

[2022-02-16 13:39] aeneasr commented on #53
Hooks are available in the API and we will soon release tooling so that you can configure it :) So to be fixed soon!

I think one problem might be this one here:

https://github.com/amosbastian/boilerplate/blob/870dc8b7aa219ef4d4aa0d0380c10eb7593a5c30/libs/shared/utility/ory/src/lib/ory-api-client/oryApiClient.ts#L68

Since it is a CORS request it's possible that the credentials (the cookie) are n

[2022-02-16 13:44] aeneasr commented on #53
Ah, I think I might have found the culprit. You are using `ory/kratos-client`:

https://github.com/amosbastian/boilerplate/blob/959ebb85bb457e86bbcdefd2c9efab56dff9c078/package.json#L45

However, this has some issues with Ory Cloud sometimes and it appears you might be running in one of the edge cases. Can you replace every SDK and use `@ory/client`? We are expecting to deprecate `@ory/kratos-clie

[2022-02-16 13:58] aeneasr commented on #53
Ok, I think I found the underlying issue for the problems you experience on the backend (not yet the cookie issue):

When using a custom domain in combination with the ory/kratos-client, the routing does not work because we are lacking some rewrites (`https://ory.boilerplate.live/self-service/registration/browser` is 404 but `https://vigilant-bhaskara-zfel6ixqcs.projects.oryapis.com/self-service/r

[2022-02-16 14:05] aeneasr commented on #53
I have tested the flow now a bit manually, and it appears that the cookie is now being set correctly:

[code]

So I think once you iron out the SDK problems this should work!

[2022-02-16 16:00] amosbastian commented on #53
I've been trying to replace `@ory/kratos-client` with `@ory/client` but after fixing some types that were changed I also get an error when it builds on Vercel:

[code]

I am confused since it builds fine locally 😕 I will have a look when I finish work and get back from the gym, but thanks for all your help so far!

[2022-02-16 16:12] aeneasr commented on #53
I think that may be unrelated to ory/client? ory/kratos-client and ory/client use the same dependencies so it would be strange if one works and the other doesn't. But I know this error, it's a common one right now in the next ecosystem as they are switching to swc which doesn't work well across platforms yet

[2022-02-16 16:13] aeneasr commented on #53
you can resolve it by adding `@swc/core-linux-x64-gnu` to your package.json `optionalDependencies`

[2022-02-16 17:01] amosbastian commented on #53
I resolved the SWC problem by downgrading to Next.js 12.0.9 and replaced `@ory/kratos-client` with `@ory/client` everywhere. I set my `ORY_SDK_URL` environment variable to `ory.boilerplate.live`, but unfortunately I am still getting an internal server error:

[code]
and
[code]

I will try redeploying with `ORY_SDK_URL` set to something like `https://www.ory.boilerplate.live` or `https://ory.boiler

[2022-02-16 17:40] aeneasr commented on #53
Ok, you can set the SDK_URL to the oryapis domain, as long as you call it from the backend :) You don’t need to set it to the custom domain. That is only the case if you call toSession from the browser side directly!

[2022-02-16 17:40] aeneasr commented on #53
We for sure need to improve this :)

[2022-02-16 17:52] aeneasr commented on #53
Ohhh, I see what’s wrong! You need to have it as a full URL with `https://`, see the error:

`Invalid URI "ory.boilerplate.live/api/kratos/public/sessions/whoami?nextInter `

[2022-02-16 18:06] #52 closed, assigned to nobody

[2022-02-16 19:46] amosbastian commented on #53
It fixed the internal server error, but it's still not sending the cookies 😞

[2022-02-16 20:41] aeneasr commented on #53
Ok, I can take another look tomorrow or friday, but am on vacation so not as responsive :) I will check out your deployed version then, I’m sure we’ll get it 2 out quickly and that it’s just an oversight somwhere :)

[2022-02-16 22:24] aeneasr commented on #53
I believe I know what the problem is now! Since you’re using Next Edge our server side cookie config has no effect. You will nee to use this option and set it to your top level domain, then it should all work:

https://github.com/ory/integrations/blob/31bd234f1917b7bd66610cade08f6ed05d3c6c91/src/next-edge/index.ts#L78

[2022-02-16 22:24] aeneasr commented on #53
We for sure need to document this much much better

[2022-02-17 10:27] amosbastian commented on #53
[I set `forceCookieDomain` to `www.boilerplate.live`](https://github.com/amosbastian/boilerplate/commit/f551fa7f377c62fea15a6b322b8067fa53138fa4), but it's still not sending the cookies unfortunately. Enjoy your holiday and don't worry about this, I am not in a rush!

[2022-02-17 11:33] aeneasr commented on #53
set it to boilerplate.live without www!

[2022-02-17 14:07] amosbastian commented on #53
🤦 it seems to be fixed and sending the cookies properly (although I have a different error now 😛)! Thanks so much for all the help and enjoy your holiday ❤️

[2022-02-17 15:08] aeneasr commented on #53
Glad it worked! I’ll keep this open because we need to improve the dev UX here, for example by setting the cookie on the TLD always! :)

[2022-02-17 21:24] lilstafe commented on #52
@aeneasr

Too late, it seems to have been resolved :/ I will keep in mind to share console errors next time.

Many thanks for the amazing turn around!

[2022-02-17 22:37] amosbastian commented on #53
I've managed to fix the other error as well so it's all working 😄 just as a side note, if you are connecting to Ory Cloud locally `forceCookieDomain` must be undefined otherwise you get security violations.

[2022-02-18 15:39] till opened #56 "Changing schema leads to error 500 (on hosted ui)"
I updated my schema, tested login with an existing account, that worked, but when I go to `/ui/settings`: `error?id=0a0c448d-d821-4a70-a7f9-84fff9fe510e`:

[code]

_Originally posted by @till in https://github.com/ory/cloud/discussions/55#discussioncomment-2205576_

[2022-02-18 15:44] aeneasr commented on #56
Thank you for the report! Can you confirm that this happens reproducible? We have observed this error before but are not yet sure where it originates from. Would be very helpful if you had some info!

@tricky42 could you maybe check what the server logs are saying with eg stack traces?

[2022-02-18 15:53] till commented on #56
@aeneasr yeah, any "old" account has a different schema. When I re-register with a new account, my new schema is used and then `/ui/settings` works.

How do you update accounts to use the new schema?

[2022-02-18 16:10] aeneasr commented on #56
The update currently needs to be done using the API / CLI and we still lack a good guide for it. The old Schema should still work though! Is that old Schema the one which is broken? If so could you please share your slug of the project so we can investigate? :)

[2022-02-18 16:26] till commented on #56
@aeneasr understood, I'll check out api/cli.

For the schema, just to make sure:

- we used the email preset first
- accounts created with email preset can login ✅
- accounts created with email preset can not use the settings 🔴
- accounts created with the new schema can login ✅
- accounts created with the new schema can use settings ✅

My slug: `keen-meninsky-blk98bepad`

[2022-02-18 17:21] aeneasr commented on #56
Thank you very much for the info! This will help identify the issue much faster!

[2022-02-20 16:42] aeneasr commented on #56
Thank you for the info, I tried to reproduce this error on your slug and also one of my projects but was not able to reproduce it. It appears that it could be an issue related to cold starts of the system. We will need to do further investigation! Have you observed this error in the meanwhile?

[2022-02-20 17:00] aeneasr commented on #56
I was able to find this in the logs and it appears to happen quite frequently. We will try to figure out where it comes from :)

[2022-02-20 18:48] till commented on #56
@aeneasr Okay, but yeah - I can re-pro any time I use an old account.

---

I haven't found schema migration stuff yet? Any example tips on what exactly to look for?

Also, kinda wondering I guess you were referring to `kratos` cli, not ory's?

[2022-02-20 19:55] aeneasr commented on #56
Maybe I misunderstood then! So you create an account, change the schema, use that account to access settings? It would be super helpful to get the flow from start to finish, looks like I am missing something!

The CLIs don’t yet fully support this as we identified the need to address something in Kratos itself before that can work. It will take a bit lore time to figure this out correctly

[2022-02-20 20:06] till commented on #56
Flow 1

- Create an account `user1`
- Edit schema
- Can no longer access settings with `user1`

Flow 2

- Create another account `user2` (it uses new/edited schema from **Flow 1**)
- Can access settings with `user2`

---

Better?

[2022-02-21 09:48] aeneasr commented on #56
Thank you! Are you using presets or custom schemas?

[2022-02-21 09:57] aeneasr commented on #56
Ok, awesome, I was able to reproduce this:

1. Create account on preset "username"
2. Log out
3. Change to custom schema
4. Log in with account
5. Access settings -> error

[2022-02-21 11:17] aeneasr commented on #56
Issue found and fix pending - thank you for the report!

[2022-02-21 11:25] aeneasr commented on #53
Great! I have tracked an improvement in https://github.com/ory/integrations/issues/20, so I am closing this!

[2022-02-21 11:25] #53 closed, assigned to aeneasr

[2022-02-21 12:39] #56 closed, assigned to aeneasr

[2022-02-21 14:32] #42 closed, assigned to Benehiko

[2022-02-22 10:23] vinckr commented on #48
Hello @rhodee,
See our new Go example here:
https://www.ory.sh/docs/guides/protect-page-login/go

Let me know if that helps figure it out!

[2022-02-22 16:09] rhodee commented on #48
@vinckr @aeneasr I read this and felt like it was written for exactly me 🤣

This is a great example of why I am so excited about this offering. Thanks team -

[2022-02-23 07:23] aeneasr commented on #48
Awesome! I'm glad you like it :) Is it ok with you if we close this issue as it is resolved?

[2022-02-23 08:31] aeneasr commented on #15
Released

[2022-02-23 08:31] #15 closed, assigned to nobody

[2022-02-23 08:33] aeneasr commented on #54
We are still experiencing issues with the custom identity schemas. The data is all safe but it looks as if we have some regressions in the UI. We've got someone working on this though, sorry for the inconvenience

[2022-02-23 09:46] BlueAcidFrog opened #58 "Remove redirect "/projects/list" from NEW User signup process"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Or

[2022-02-23 13:02] rhodee commented on #48
Yes. Please close as resolved. I look forward to any future items for review. If it is helpful be sure to tag me.

[2022-02-23 13:03] aeneasr commented on #48
thank you! :)

[2022-02-23 13:03] #48 closed, assigned to nobody

[2022-02-25 07:48] #58 closed, assigned to nobody

[2022-02-25 07:51] aeneasr commented on #58
Did you close this on accident?

[2022-02-25 10:41] HelloAlexPan commented on #28
@tricky42 ping us as well! @bepsvpt

[2022-02-26 07:59] vinckr commented on #28
@tricky42 ping everyone, this will be huge!

[2022-02-27 06:40] mitar commented on #16
I couldn't find anywhere how this works. If I want my app and authentication to be both on the same domain, then somebody has to proxy requests? So do I need to proxy requests to Ory Cloud? Or does Ory Cloud serve as reverse proxy for my app as well?

[2022-02-27 07:04] aeneasr commented on #16
In that case you would run Ory on a subdomain (e.g. `auth.example.org` or `ory.example.org`) and your primary app on the TLD or also a sub-domain

[2022-02-27 07:49] mitar commented on #16
I read somewhere in Kratos doc (I cannot find it at the moment) that it is recommended to run both auth and app on the same domain. Are there any downsides with using a subdomain?

[2022-02-27 07:52] aeneasr commented on #16
No, we introduced a feature to set the cookie domain which should resolve this. Also I think that we remove that section in the docs

[2022-02-27 14:38] aeneasr commented on #13
We have updated to the latest versions - not sure if that brings some improvements already?

[2022-02-28 10:59] #54 closed, assigned to Benehiko

[2022-03-03 19:30] tricky42 opened #61 "Setting up Custom Domains fail if the domain is managed by Cloudflare on the Customer side"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-03-03 19:36] tricky42 commented on #61
Cloudflare Documentation on the issue: https://support.cloudflare.com/hc/en-us/articles/360029779472-Troubleshooting-Cloudflare-1XXX-errors#error1014

We are currently in contact with Cloudflare to find a solution which does not require white listing customer domains. We will update the issue once we settled on a final solution.

[2022-03-07 14:35] tricky42 commented on #61
I setup a private Cloudflare account and tried to reproduce the error but it worked without a problem for me. I also reviewed our setup with a Cloudflare consultant and he confirmed that everything is setup correctly.

In order to resolve the issue I will contact the customer to review the configuration and DNS config used to activate the custom hostname.

[2022-03-10 17:16] tc-amorevino opened #62 "500 Error when trying to remove users from projects"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-03-10 17:24] sashatalalasha opened #63 "Custom Domain feature not available for members except for admin"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-03-10 19:30] aeneasr commented on #63
Do you think that all users should have access to this feature? We made it available to administrators only as it's a highly privileged action and to prevent abuse.

[2022-03-10 20:16] aeneasr commented on #62
@Benehiko can you please take a look?

[2022-03-10 20:56] aeneasr commented on #62
Ah, I believe the problem is that we added Sasha to the project by SRE before invites landed, and thus no invite was created, which breaks deleting the invite. @tc-amorevino we can remove her manually which should resolve that issue. Is that ok?

[2022-03-10 21:58] tc-amorevino commented on #62
@aeneasr I checked backed and it looks like although the Ui got stuck at the spinner, the user was in fact removed. I have added the user back to the project as per email invite, which worked fine. I could try to remove the user again to check if the issue occurs although the user has been re-added via the intended flow.

[2022-03-11 08:26] aeneasr commented on #62
Ok cool, sounds like it's back to its consistent state! Yes that would be great! If it's not an issue any more after that I would suggest to close this issue :)

[2022-03-11 09:31] tc-amorevino commented on #62
Just removed and re-added the user. Works perfectly fine!

[2022-03-11 09:31] #62 closed, assigned to Benehiko

[2022-03-11 09:37] aeneasr commented on #62
Thank you for the report, glad to hear that it was indeed caused by manual intervention early in your project and could be resolved :)

[2022-03-11 09:59] sashatalalasha commented on #63
Maybe in the future, you can empower admins to choose which access rights a member has. For now, I would suggest explaining why this feature is not available for a member because it looks like the plan needs to be upgraded (even though it is already a startup plan), which is a bit misleading.

[2022-03-12 00:40] roboptics opened #64 "Unable to load webauthn.js from another domain"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-03-14 16:46] vinckr commented on #51
working on this now

[2022-03-15 18:42] aeneasr commented on #64
Thank you for the report! We will fix that issue

[2022-03-18 10:26] aeneasr commented on #49
done

[2022-03-18 10:26] #49 closed, assigned to aeneasr

[2022-03-18 13:09] tricky42 commented on #61
I am going to close the issue as the error seems to be a result of a wrong configuration and is not a general problem of the Custom Hostname setup with Cloudflare.

[2022-03-18 13:09] #61 closed, assigned to tricky42

[2022-03-23 16:22] #51 closed, assigned to archived-m, vinckr

[2022-04-07 16:43] rwos opened #76 "Problem with websocket requests access check via oathkeeper"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-04-09 22:32] aeneasr commented on #76
Sorry to hear that you’re having trouble! From the looks of it it appears that everything should be in order. Oathkeeper unfortunately is known to have issues with websockets sometimes. Context canceled usually means that you’re hitting some type of timeout somewhere, not sire if that info is helpful?

[2022-04-12 15:38] rwos commented on #76
So after some debugging: the good news is that oathkeeper is fine, it's relaying the incoming request to the session store, something like this:
[code]

It seems that either Kratos itself, or something in front of it in your cloud offering, takes the `Upgrade` header at face value and switches to a websocket connection - which then stalls until some sort of timeout; which oathkeeper then (rightly)

[2022-04-12 15:58] aeneasr commented on #76
Oh, nice find! That’s the problem for sure!

[2022-04-12 15:59] aeneasr commented on #76
PRa welcomed - it would be great if you could also add a test :)

[2022-04-21 11:44] roboptics commented on #64
Hi,

Just checking if there is any update on this issue?

Best,

[2022-04-21 12:26] aeneasr commented on #64
Sorry for the lack of update @Benehiko is working on it - could you give an estimate of when CORS config will be available?

[2022-04-21 12:37] Benehiko commented on #64
Currently CORS is still being worked on. It should land on staging probably next week and if all is good will be released :)

[2022-04-21 12:45] roboptics commented on #64
Thank you for the update! Looking forward to see it released.

[2022-04-21 14:44] roboptics opened #80 ".NET Client Api call ListIdentitySchemasAsync not working"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-04-22 06:24] Benehiko commented on #76
I think what happened here is that we added websocket support to our cloud infrastructure not too long ago. Before it would just ignore the `Upgrade` header :sweat_smile:

[2022-04-22 07:41] till commented on #76
We were thinking both our PRs are Cloudflare related. Is that what you're thinking as well?

[2022-04-22 17:29] Benehiko commented on #80
Hi @roboptics

Thank you for the report, we'll look into this. Might be a problem with the OpenAPI code generator :sweat_smile:

[2022-04-22 18:30] aeneasr commented on #80
@Benehiko I quickly checked our OpenAPI specification (backoffice/backoffice/spec/api.json) and this method does not exist in there. It does however exist in Ory Kratos' API specification. There, it is expected to return `identitySchema` and this clashes with a definition in the OpenAPI backoffice specification of the same name.

To resolve this, the backoffice should use a distinct name from the

[2022-05-10 11:07] aeneasr commented on #18
Done

[2022-05-10 11:07] #18 closed, assigned to nobody

[2022-05-10 11:08] aeneasr commented on #28
I think most of this is done, the CLI has been released about 1 1/2 months ago and comes with the ability to update your project's configuration, supporting essentially git ops :)

[2022-05-10 11:08] #28 closed, assigned to nobody

[2022-05-10 11:08] aeneasr commented on #64
Hello, CORS has been released last week!

https://www.ory.sh/docs/guides/custom-domains

[2022-05-10 11:08] #64 closed, assigned to nobody

[2022-05-10 11:10] roboptics commented on #64
Tried it late last week and seems to be working. Thank you.

[2022-05-10 13:22] mitar commented on #28
Does it also support getting all configuration as one big JSON which you can store into git? And then another operation to configure the project using that JSON?

[2022-05-10 13:24] aeneasr commented on #28
Yes :)

* https://www.ory.sh/docs/guides/cli/config-with-cli
* https://www.ory.sh/docs/guides/cli/identity-cli#export-to-file

[2022-05-10 16:06] mitar commented on #28
Awesome! Thanks for links!

[2022-05-17 10:16] taylow opened #88 "Expired Ory Cloud invites causes infinite redirect loop"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Or

[2022-05-17 10:34] aeneasr commented on #88
Thank you for the report - we will investigate that! Have you been able to load the console at all, or is it in a broken state? If it is in a broken state, please try to remove the cookies for *.ory.sh and sign in again to see if the problem resurfaces. Thank you :)

[2022-05-17 13:21] taylow commented on #88
I was left in a state where I owned an account, but was not a collaborator of the project (which is presumably expected as the invitation expired?). When we generated another invite, I was taken to the same registration page, but was told I already had an account. After logging in I was taken directly to the new invitation accept/decline page and was able to join!

[2022-05-17 13:27] danbim opened #89 "Custom Domains - booked by project creator but unavailable for collaborator"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-05-17 13:37] aeneasr commented on #89
Thank you for the report! Custom domains are currently only editable for the account owner, but we have it on the roadmap to make this available to everyone assigned to the project!

//cc @zepatrik

[2022-05-17 13:40] danbim commented on #89
Hi @aeneasr, thanks. At the moment, the information presented is just misleading. It would be OK to see that I'm not able to edit it but to see the information whatsoever.

[2022-05-17 13:42] aeneasr commented on #89
Got it! It should show that you don't have access, but there might be an issue in the UI. /cc @micleyman

[2022-05-18 10:21] aeneasr commented on #89
We have identified the issue and have an item on the backlog, however the fix is not trivial at the moment and it might take a bit for it to be resolved.

[2022-05-22 22:26] theogravity opened #92 "Ory cloud examples for node that is not next.js"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-05-23 06:32] aeneasr commented on #92
Have you seen https://www.ory.sh/docs/guides/protect-page-login/expressjs ? :)

[2022-05-23 06:35] Benehiko commented on #92
There are also these open source repositories that have typescript / node / reactjs examples
- https://github.com/ory/kratos-selfservice-ui-node
- https://github.com/ory/kratos-selfservice-ui-react-nextjs

[2022-05-23 18:09] theogravity commented on #92
Thank you, this is definitely what I was looking for. I was expecting to find it in:

https://www.ory.sh/docs/guides/protect-page-login/expressjs

Or even a section in the Ory Cloud dashboard.

I guess this is more about discoverability of that project at this point.

[2022-05-23 18:33] aeneasr commented on #92
I see, thank you! We have an open issue to add an index / search for all the projects we or the community have contributed. We'll be working on this soon :)

https://github.com/ory/docs/issues/817

[2022-05-23 19:16] theogravity commented on #92
Thanks, and I love seeing your `hackerman` username - Kung Fury is one of my favorite movies!

[2022-05-23 19:16] #92 closed, assigned to nobody

[2022-06-12 13:23] Marsredskies opened #98 "Billing plan change page bug"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Or

[2022-06-13 08:14] aeneasr opened #102 "Back button in Hosted UI does not go to the main application but always `/ui/welcome`"
### Discussed in https://github.com/ory/cloud/discussions/100

<div type='discussions-op-text'>

<sup>Originally posted by **adrianrudnik** June 12, 2022</sup>
I have set all available fields for the post-settings redirections, but I'm still unable to get back to my app if I hit the "back"-button at the bottom of the default settings UI. It always redirects back to `/ui/welcome`. Is there anything

[2022-06-13 08:14] aeneasr commented on #102
Thank you for the report, we have to fix that!

[2022-06-13 08:17] aeneasr commented on #98
Thank you very much for the report! @zepatrik can you PTAL?

[2022-06-22 08:05] zepatrik commented on #98
I tried a few times but could not reproduce it. I think this was only a temporary issue. Can you try again?

I get the expected result:
![Screenshot from 2022-06-22 10-04-30](https://user-images.githubusercontent.com/5354445/174977272-6e20f207-127a-4b49-967d-1b1dcca91bc3.png)

[2022-06-22 08:59] Marsredskies commented on #98
Can we move to Slack #cloud channel? I try to change it like every 2 or 3 days and the same thing occurs. I’ve checked all elements and responses and found this error coming from server:

{"error":{"code":500,"status":"Internal Server Error","request":"f6cc64b5-47bb-9d0e-a914-e32d30efdb3a","message":"{\"status\":400,\"message\":\"You cannot update a subscription schedule that is currently in the r

[2022-06-22 09:21] zepatrik commented on #98
I see, with the response I now know that the issue is. We have it tracked already (https://github.com/ory-corp/cloud/issues/2410).

[2022-06-22 10:18] aeneasr commented on #98
@zepatrik can we fix the subscription @Marsredskies is referencing to hotfix this issue?

[2022-06-22 10:40] zepatrik commented on #98
No, the underlying issue needs to be fixed. We can cancel it if it is not possible for @Marsredskies, but can't fix it.

[2022-06-22 12:26] Marsredskies commented on #98
It would be great, if you cancel this subscription, because I’m not using it and never did actually. Not even working in the project, where I planned to integrate it. Thanks in advance

[2022-06-22 12:54] kmherrmann commented on #98
I've canceled your subscription now - sorry for the poor experience!

If I may ask - What stopped you from adopting Ory Cloud and what were you missing? Thanks a lot!

[2022-06-22 13:28] Marsredskies commented on #98
Nothing really, I just quit that job and that integration left unimplemented, that’s it

[2022-06-22 13:34] Marsredskies commented on #98
And yeah, thank you for your support

[2022-06-22 13:37] kmherrmann commented on #98
Thanks! :)

[2022-06-23 13:38] iamim opened #107 "`Authentication > Sign In After Registration` should be disabled if `Email Verification > Require Verified Address for Login` is selected"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-06-23 14:27] aeneasr commented on #107
Thank you fery much for the suggestion! I agree with this, and we'll put it on our back log!

[2022-06-23 17:19] #76 closed, assigned to nobody

[2022-07-01 04:29] oluatte commented on #27
Hello,

Just found out about Ory (from [here](https://medium.com/@phloengineering/auth0-vs-ory-kratos-3a849a18e8e4)). Really impressed with what you all have built.

I am very much interested in this export capability (wary of lock-in). Is this part of Ory Cloud now?

[2022-07-01 12:41] kmherrmann commented on #27
Hi Mayo,

you can export e.g. Identities by doing a LIST request either via the CLI or our API - see [here](https://www.ory.sh/docs/kratos/reference/api#operation/adminListIdentities). Would that solve your use case?

cheers
klaus

[2022-07-01 15:29] oluatte commented on #27
Hey Klaus,

Thanks for replying so quickly.

- I checked out that LIST endpoint, wasn't able to confirm that the response object includes the hashed passwords & salts (if the credentials are passwords). If it does, that endpoint would be more than good enough.

- One more question that I came up with after exploring some more last night. I was hoping to use Ory Cloud with Blazor WASM (should be fu

[2022-07-04 15:01] thecodeassassin opened #111 "Ory Cloud console bug: adding allowed urls"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-07-04 15:03] aeneasr commented on #111
Thank you for the report!

[2022-07-05 12:59] aeneasr opened #113 "Social Sign In has to work with Ory CLI"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-07-06 08:49] kmherrmann commented on #27
Hi again, and sorry for the late reply.

- For ODIC, this is well underway on our end and we anticipate availability this quarter. We'll definitely announce through our Newsletter - please sign up [here](https://ory.us10.list-manage.com/subscribe?u=ffb1a878e4ec6c0ed312a3480&id=f605a41b53).
- For export - the LIST endpoint doesn't actually yet allow export or credentials. ODIC credentials can be ex

[2022-07-06 09:10] Benehiko opened #115 "Custom email templates don't allow URLs"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-07-06 10:52] sharath-koovill commented on #115
Hi, I tried with a GitHub url and google cloud url and I get similar error as above. My error message.

The request was malformed or contained invalid parameters
URL `http://github.com` is not allowed for `courier.templates.recovery.valid.email.body.html`.

The request was malformed or contained invalid parameters
URL `https://storage.cloud.google.com` is not allowed for `courier.templates.recover

[2022-07-06 20:16] oluatte commented on #27
No worries at all, thanks for taking the time to respond,

Glad to hear it on OIDC. Will subscribe. Will also keep an eye out for the export fix.

Thanks again.

[2022-07-07 10:13] aeneasr opened #116 "Setting a custom SMTP server breaks saving changes in the UI"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-07-07 10:16] aeneasr opened #117 "Improve error observability of RPC calls"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-07-08 07:00] kmherrmann opened #118 "Observability of self-service account activity and authentication"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-07-08 11:12] aeneasr opened #119 "return_to not honoured when registering (Login flow)"
### Discussed in https://github.com/ory/cloud/discussions/114

<div type='discussions-op-text'>

<sup>Originally posted by **thecodeassassin** July  5, 2022</sup>
Hi,

We start the login flow like so:

http://d3.local.maxroll.gg/.ory/self-service/login/browser?return_to=http://d3.local.maxroll.gg/?logged_in=1&after_verification_return_to=http://d3.local.maxroll.gg/?logged_in=1

After the user regi

[2022-07-08 11:12] aeneasr commented on #119
The problem is that the registration / login links

https://github.com/ory/kratos-selfservice-ui-node/blob/261c65f0c0094057db55058761249a2844e68ffa/src/routes/login.ts#L29-L35

are respecting `return_to`, but only if it is in the URL available:

https://github.com/ory/kratos-selfservice-ui-node/blob/261c65f0c0094057db55058761249a2844e68ffa/src/routes/login.ts#L16

Instead, we should check the `ret

[2022-07-09 19:54] morgante opened #122 "Can't authenticate with GitHub"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Ory Cl

[2022-07-11 08:38] aeneasr opened #121 "Make Identity Schema ID available in the UI"
### Discussed in https://github.com/ory/cloud/discussions/120

<div type='discussions-op-text'>

<sup>Originally posted by **tsu84** July 10, 2022</sup>
Hi,

I am using the admin API to create the first admin identity through `/admin/identities`. To make the request the identity schema id is required. I've expected to find it through the UI since it's the place where you can edit and create new sc

[2022-07-11 08:38] aeneasr commented on #121
Thank you @tsu84 for the report, that sounds indeed like a frustrating experience! I've converted this discussion to an issue. Also pinging @kmherrmann and @Benehiko :)

[2022-07-11 09:08] kmherrmann commented on #118
(Moved to internal repository for planning)

[2022-07-11 09:08] #118 closed, assigned to nobody

[2022-07-11 14:18] aeneasr commented on #122
Could you share your project slug please? :) And can you also share what permissions you have accepted in the github oauth flow?

[2022-07-12 11:54] vinckr commented on #122
Did you also include the jsonnet to map the email addresses?

[code]

I just set up [github login at a fresh project](https://crazy-ellis-0i15g80nvt.projects.oryapis.com/ui/registration) and it worked fine with the jsonnet.

Did you set up a GitHub app or an OAuth app?

[2022-07-12 12:43] thecodeassassin commented on #119
There is another issue here. For OIDC registrations flows, the return_to is not respected.

When using the same OIDC flow for logins, everything works fine.

[2022-07-12 17:17] morgante commented on #122
Project slug: lucid-wilson-ffhd3viquj

Yes I included jsonnet. I set up a GitHub app with OAuth enabled.

[2022-07-13 06:50] vinckr commented on #122
Hello morgante,

this is definitely an issue with the GitHub app.
With an OAuth app I have no issue, when using a GitHub app I encounter the error you get above.
Currently investigating if there is a quick fix.

[2022-07-13 11:54] aeneasr commented on #122
Yes, I think you have to use an OAuth2 app for this to work, GitHub app will not work as far as I know :/

[2022-07-13 12:29] vinckr commented on #122
@morgante there is an extra provider called `github-app`, you just cant configure it through the GUI.

This is my working config
https://crazy-ellis-0i15g80nvt.projects.oryapis.com/ui/registration

[code]

You can get it like so

[code]

[2022-07-14 09:01] Benehiko opened #123 "Name of schema is empty when listing from Console"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-07-15 14:10] allenkaplan commented on #13
FWIW still getting the following 5 months later :(
<details>
 <summary>flutter run output</summary>

[code]

</details>

[2022-07-15 14:46] aeneasr commented on #13
What version?

[2022-07-15 15:26] provokateurin commented on #13
The 6.x.x version of the generator is now stable and should produce valid code (although not everything ory uses in the specs is supported).

[2022-07-15 16:16] till opened #124 "Cors doesn't seem to be activated with a custom domain on ory cloud"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-07-15 18:46] allenkaplan commented on #13
@aeneasr

in my flutter project's pubspec.yaml `ory_kratos_client: ^0.7.3-alpha.8`, but I see the version available is `ory_kratos_client: ^0.10.1` -- weird because I used `flutter pub get ory_kratos_client` and it didn't install latest

when I attempted to change manually I got
[code]

in my pubspec.yaml I also had `http: ^0.13.4` which seemed to stop dio (pre req for openapi doc) and forced krat

[2022-07-15 19:54] allenkaplan commented on #13
Following up now that I am on `ory_kratos_client: ^0.10.1`

I still seem to have an error building
https://gist.github.com/b62c1cba39eecd6a51fdb5ae61417c49

`flutter analyze` output shows

[code]

<details>
 <summary>
code snippet</summary>

[code]

</details>

[2022-07-15 20:01] allenkaplan commented on #13
Looking closer, all files are for dart 2.7 and pub.dev shows failing null safety

~~Taking a look at versioning it looks like there was some regression where previous versions had null safety -- weird since ory/sdk/scripts has dart with openapi generator v6.0.0~~ they actually still opt out of null safety :/

<img src="https://user-images.githubusercontent.com/25397434/179302026-34b7f5a2-8fba-4927

[2022-07-15 20:16] allenkaplan commented on #13
Hey again @aeneasr!

So I think this might have to do with openapi generating using `dart-dio` over `dart` from this change https://github.com/ory/sdk/commit/77fab2552304967e86b3de9074002ebac7e472cf -- this was much before flutter 3 release fwiw

regardless, I'm not sure if `dart-dio` was already updated for null safety or if `dart-dio` still requires this PR in openapi repo to be merged https://g

[2022-07-16 08:16] aeneasr commented on #13
Got it, so shall we use the dart or dart2 generator?

[2022-07-16 08:25] provokateurin commented on #13
dart2, but you just set the generator to dart for that. idk it's weird, but that's how it works.

[2022-07-16 11:19] aeneasr commented on #124
Thank you for the report! Could you please share a chrome dev tools network replay, or share the URL so we can take a look ourselves? That would be very helpful - thanks!

[2022-07-16 11:20] aeneasr commented on #13
Ok nice, if anyone is up for the small change, PRs welcomed :)

[2022-07-16 13:17] till commented on #124
I don't want to share the url here. Is there another way? I reported a couple things before.

[2022-07-16 13:36] aeneasr commented on #124
Sure, feel free to send it to me on [slack](https://slack.ory.sh) :) My nick is `hackerman (ory)` and username `aeneas`

[2022-07-16 16:22] allenkaplan commented on #13
@aeneasr PR here https://github.com/ory/sdk/pull/202

[2022-07-17 12:14] till commented on #124
@aeneasr Is it generally supported to front ory cloud with our own oathkeeper?

I am trying to understand what the implications are and if cookies would still work. And also own more of the stack for visibility. Are there docs by chance describing this?

[2022-07-17 15:31] aeneasr commented on #13
Thank you - merged! A new release has also been triggered - let's see if it works now :)

[2022-07-17 17:39] till commented on #124
What did you use to test? My domain is in your screenshot. 🥴

[2022-07-17 17:56] aeneasr commented on #124
sorry about that, I missed it in the title...

postman

---

I checked whether CORS is enabled and was able to get a positive result:

<img width="1776" alt="Screenshot 2022-07-17 at 16 58 12" src="https://user-images.githubusercontent.com/3372410/179418588-d27996ec-b2fe-43ba-86d3-492663bc57de.png">

Looks to me like there's a different problem?

That is not recommended! It is better to call Ory A

[2022-07-17 19:20] allenkaplan commented on #13
@aeneasr not sure if the release should be live yet, but I'm not seeing it on pub.dev yet https://pub.dev/packages/ory_kratos_client/versions

![image](https://user-images.githubusercontent.com/25397434/179421521-7c65eeb2-55fa-4784-a0c2-3cbd55dde23e.png)

[2022-07-18 10:12] till commented on #124
@aeneasr thanks for helping.

I think for some reason, the cors error occurs when I try to call:

[code]

Here is the request (from the browser console):

[code]

Error: `MissingAllowOriginHeader`.

Response:

[code]

Request:

[code]

`http://runway-ui.127.0.0.1.nip.io:3000` is in my allowed list (on cloud).

[2022-07-18 10:38] till commented on #124
Meh, okay, this is not cors, it's something else. I just found this in the docs:

[code]

It's supposed to give me a json with a flow. but instead:

[code]

The problem is that instead it's sending a `Location`.

[2022-07-18 18:01] allenkaplan commented on #13
fwiw I see https://github.com/ory/sdk/tree/master/clients/client/dart was regenerated and anonymously published here https://pub.dev/packages/ory_client, but not https://github.com/ory/sdk/tree/master/clients/kratos/dart

[2022-07-18 21:37] allenkaplan commented on #13
Current using the following in my `pubspec.yaml` until its on pub.dev
[code]

Ran into an OpenAPI issue for which I've opened an issue here https://github.com/OpenAPITools/openapi-generator/issues/12914

Other than that the library is now working with null safety

[2022-07-19 07:00] aeneasr commented on #124
I see, the URLs have changed since we introduced Ory Cloud. The `/api/kratos/public/` has been removed. To address backwards compatibility, we introduced a redirect. If you call

[code]

it will just work.

Out of curiosity, where did you get this URL from? If it's in the docs we should update this.

[2022-07-19 07:53] till commented on #124
Yes, it's in the docs. It's on the page explaining how to use Kratos with ajax/spa. Maybe the js sdk needs a bump too.

[2022-07-19 13:19] aeneasr commented on #124
Thank you! We'll update those accordingly.

Yes, the SDKs also need to be updated - is there a repository where a too old version is used? If so let me know and we'll update asap :)

[2022-07-19 13:21] #124 closed, assigned to nobody

[2022-07-19 13:49] till commented on #124
I seem to be using v0alpha2. Or `0.8.2-alpha1` of the js sdk.

[2022-07-20 10:56] aeneasr commented on #124
I see! This should be resolved if you use a more up-to-date version of the Ory SDK. We also recommend using `@ory/client-js` when working with Ory Cloud :) We will at some point move all SDKs there and deprecate the open source SDKs as the main SDK has all the same methods and functions.

[2022-07-20 10:58] aeneasr commented on #13
Sorry for the late reply, please use the meta Ory SDK: https://pub.dev/packages/ory_client/versions

The Ory Kratos / Hydra / ... SDKs will only be released when we release a new tag for those. The Ory SDK is being regenerated everytime we make changes to console.ory.sh production!

[2022-07-20 13:43] till commented on #124
I'll look into updating it. Wasn't aware of a new version.

Is `ory/client-js` compatible with kratos? I created a local setup to make development easier.

[2022-07-20 14:12] #116 closed, assigned to nobody

[2022-07-20 14:23] aeneasr commented on #124
Yes :) We worked really hard to make all the SDKs compatible with oss and cloud :)

[2022-07-20 14:40] aeneasr opened #127 "Setting the identity schema using the CLI is not possible"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Or

[2022-07-20 14:49] aeneasr commented on #123
Likely a dupe of https://github.com/ory/cloud/issues/80#issuecomment-1106760241

[2022-07-20 15:31] vinckr commented on #127
Thats weird, this worked for me

1. Create project
2. Create new identity schema with simple modification
3. Export config with the CLI and note down the id of the new schema
4. `ory patch project 34c4asdasd-c7f6-424e-ac69-eaec05b1a260 --replace '/services/identity/config/identity/default_schema_id="1590889099b35292ed1dc97f6adfe146f3b99e1510a99992632a8876ba112ce862c12fd3asdds3b8cf44c4853381128e022

[2022-07-20 18:04] aeneasr commented on #127
Hm, thank you!

Maybe the problem is trying to set a schema from a different project? This works in the UI but maybe not the API

[2022-07-21 07:05] aeneasr commented on #13
The Dart SDK is now null safe! :) :)

<img width="863" alt="Screenshot 2022-07-21 at 09 05 32" src="https://user-images.githubusercontent.com/3372410/180151289-fb54d49c-761e-4239-a319-9b8d8708759c.png">

[2022-07-21 08:27] vinckr commented on #127
I have no idea about the underlying code but what I speculate happens is:

- User creates modified identity schema
- for some reason it doesn't get saved in the "normal" identity config but somewhere else
- its settable in the UI but doesn't show up in identity config
- in some edge cases its even not possible to set in the UI as well ([Sean Katz](https://ory-hq.slack.com/archives/C02Q3CE5TM0/p165

[2022-07-21 08:32] #13 closed, assigned to aeneasr

[2022-07-21 08:38] provokateurin commented on #13
Awesome!

[2022-07-21 08:41] till commented on #124
https://github.com/ory/client-js

This is empty?

[2022-07-21 09:40] aeneasr commented on #124
https://www.npmjs.com/package/@ory/client

[2022-07-21 11:00] aeneasr commented on #88
@zepatrik is this related to the use query bugs maybe?

[2022-07-21 11:05] aeneasr commented on #115
Thank you for the reports, we will look into this in the next sprint!

[2022-07-21 11:05] aeneasr commented on #115
/cc @piotrmsc

[2022-07-21 11:05] aeneasr commented on #115
Currently, it is only allowed to set templates using `base64` encoding:

[code]

[2022-07-21 11:24] zepatrik commented on #88
Hm it could be that the promise is rejected because of the status code, and `react-query` automatically retries (indefinitely).

[2022-07-21 14:56] IgnusG commented on #17
I cannot find the usage limits for the free tier anywhere (the cover page just mentions that there are some but not what they are), are they available somewhere? The page Usage & Billing on the platform also does not show any numbers.

[2022-07-21 15:50] #63 closed, assigned to nobody

[2022-07-21 15:50] #89 closed, assigned to zepatrik

[2022-07-21 15:58] vinckr commented on #17
Hello @IgnusG
We are currently in the process of updating the pricing page and you will see the limits for free plans in the updated page - its almost done.

[2022-07-27 07:04] aeneasr opened #132 "Form fields reset on tab change"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Or

[2022-07-27 10:47] vinckr commented on #132
This is a duplicate of this https://github.com/ory-corp/cloud/issues/2722

[2022-08-01 07:52] #98 closed, assigned to zepatrik

[2022-08-01 07:53] zepatrik commented on #98
This should be fixed now for new  subscriptions, and should be fixed for all others probably today.

[2022-08-01 10:14] till opened #134 "/sessions endpoint doesn't work"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-08-02 11:00] #80 closed, assigned to nobody

[2022-08-02 11:00] #123 closed, assigned to nobody

[2022-08-10 20:18] winston0410 opened #143 "Incorrect UI nodes for using OIDC and password flow together"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-08-10 22:35] aeneasr commented on #143
Hi, thank you for the report. The current behavior is correct. It is required because you can more than one social sign in button where for password you only have one button.

[2022-08-11 08:27] winston0410 commented on #143
Ah I see that make sense. But does that mean that we have to mutate the `ui.nodes` ourselves to add the method="oidc" in? What is the expected usage?

Also I believe that `oidc` and `password` is not dependent. With the  `ui.nodes` here, if we iterate the array for generating the form, `oidc` would not work because when the user click on it, it will require the user to fill the field of `group="pa

[2022-08-11 17:53] aeneasr commented on #143
To group the nodes check the `group` key in the node payload

[2022-08-12 15:31] till commented on #134
@aeneasr I see you made a PR, any idea what the other error is?

That the sessions count gets lower and lower with each request until no sessions (or `nil`) are returned?

I tried to look at the database code, and couldn't make much sense of it yet.

Specifically:
https://github.com/ory/kratos/blob/aa6ef6decae05bb43107340a09b413bac1a76579/persistence/sql/persister_session.go#L51

Any pointers to w

[2022-08-12 17:48] aeneasr commented on #134
Hi @till - sorry, this issue slipped my mind. I will try to reproduce this problem!

[2022-08-12 17:56] aeneasr commented on #134
Hi @till - I checked the code base and it looks as if the current session is excluded in the list sessions call. That's why the result is empty. I don't think it makes sense for it to be empty in this case, so we'll remove this exception to always show the active sessions!

[2022-08-12 17:59] till commented on #134
@aeneasr That's closer to the docs then! 😃

What about the other: that I do a call and I start of with N and each time I do the call again it's decreasing?

I just had it again today: 1 active session, page reload, 0. I can reproduce this with Cloud and local Kratos.

[2022-08-12 18:05] aeneasr commented on #134
Is it possible that the other session expires?

[2022-08-12 18:28] till commented on #134
I thought about this too. Is there a cleanup that runs while it's queried?

[2022-08-12 20:26] aeneasr commented on #134
Hm no, there is no clean up triggered by this API call

[2022-08-13 04:09] winston0410 commented on #143
Yes that is doable, but with backend as the state machine, I think it should be handled by the server. It doesn't make sense for every customer to implement that logic themselves, in order to make oidc to work.

[2022-08-13 13:39] aeneasr commented on #143
I don't think I understand what you mean :/ If you want to see a reference implementation, check this: https://github.com/ory/kratos-selfservice-ui-node/blob/master/views/settings.hbs#L18

This code is doing what you want (I guess) as it is grouping the nodes.

Hope this helps!

[2022-08-17 21:09] Benehiko opened #146 "Cannot delete my Ory Project"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-08-17 22:15] aeneasr commented on #146
@zepatrik PTAL

[2022-08-20 20:24] nisutec opened #148 "Identity breaks after metadata change via API"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-08-23 12:53] aeneasr commented on #148
Thank you for the report, we will need to investigate this!

[2022-08-23 14:20] Benehiko opened #149 "Relative URLs on Custom UI"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-08-23 16:03] roboptics commented on #80
Hi,

We migrated this week to version 0.2.0-alpha.4 and checked that some issues with the `ClientIdentitySchema` model remain, namely:

1. This is the data that we now get from the API call `ListIdentitySchemasAsync()`:

[code]

But this model enforces the following fields as mandatory (from source):

[code]

Which causes Json deserialization to fail for this model.

2. Previously we were parsing

[2022-08-29 09:26] aeneasr commented on #148
@jonas-jonas can you PTAL when you have some down-time? Thank you :)

[2022-08-30 08:49] rgaudin commented on #88
Just been affected by this. I've had previously (long ago) logged-in into an account.
Now, I received an invite to a different email address, clicked to sign-up and join but encountered the loop because the invite has expired.
With a new, fresh, invite, it worked as expected.

https://user-images.githubusercontent.com/57929/187392015-359faa5a-9505-4023-9fc7-7d91aab2e994.mov

[2022-08-31 10:43] aeneasr commented on #88
Sorry to hear that you were affected! We will soon work on a fix for this - but given that it is not happening too often, we have prioritized some other issues and bugs first :)

[2022-09-07 10:05] omerlh opened #151 "Could not add relation tuple"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-09-07 10:59] aeneasr commented on #151
Thank you for the report, @hperl can you please take a look?

[2022-09-11 15:50] #148 closed, assigned to jonas-jonas

[2022-09-17 09:40] aeneasr commented on #113
A new version of the Ory CLI has been released, fixing this bug

[2022-09-17 09:40] #113 closed, assigned to aeneasr

[2022-09-17 12:52] till commented on #134
@aeneasr I finally found the cause for the my (original) bug report: I managed to iterate over everything in the list when it was loaded in the app and delete every item, which caused the bug of the sessions disappearing.

It deleted everything, except for the session in the browser because it currently doesn't show up in the list I think. I would probably ask for the "current session" to be inclu

[2022-09-17 13:37] aeneasr commented on #134
Sounds good let’s do it like that! :) Glad you found the issue

[2022-09-18 10:16] #134 closed, assigned to nobody

[2022-09-18 10:18] till opened #156 "include current session on /sessions"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-09-20 15:23] hperl commented on #151
Hi @omerlh,

you are right, empty relations are currently not supported through the UI. You can use a wildcard `...` in place of an empty relation.

But I think your point is valid and we should add empty relations (spelled just `rule:1`) in the subject set out of the box.

In terms of priority, is this blocking you right now? I would assume that empty relations are not useful on their own without

[2022-09-21 05:00] omerlh commented on #151
Hey! It is not blocking me as we decided not to continue with Keto for now...

[2022-10-05 08:44] aeneasr commented on #156
Yes, we definitely need to do this. Maybe add a flag indicating the current session?

[2022-10-05 10:20] #132 closed, assigned to mszekiel

[2022-10-07 08:38] #88 closed, assigned to jonas-jonas

[2022-10-13 08:57] vsumit89 commented on #156
Is this issue fixed? Any timeline by which this fix will be released. If I were to contribute to fixing the issue, can you direct me on how to go about it?

[2022-10-13 17:13] till commented on #156
I liked the previous API where it was included, but you couldn't delete it. IMO plenty to reduce the set in the client.

[2022-10-18 21:09] dotubutis opened #164 "Can't use metadata fields from multiple social sign-in providers"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-10-20 06:00] aeneasr commented on #164
This is a great question and your analysis is correct. The OIDC data from other social sign in providers are not synched during the account linking flow, they are only set up once during registration. I also definitely understand the use case why this is useful.

One problem here is that a new account linking process should usually not override the existing user's name (as they probably have set i

[2022-10-20 07:48] Benehiko opened #166 "Cannot add Apple private key in Ory Console UI"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-10-20 14:02] dotubutis commented on #164
Thanks for the clarification! Could you elaborate on the suggested idea, not sure how that would work.

[2022-10-20 15:47] aeneasr commented on #164
I guess something like this:

[code]

[2022-10-20 18:45] dotubutis commented on #164
Thanks. If I understand correctly, in the current implementation this is not supposed to work bc, as you said, OIDC provider data is only set up once during the registration.

Is there any approach currently available for fetching OIDC data from social providers during the linking process, not the registration process?

[2022-10-21 09:48] Benehiko commented on #102
We recently removed the footer which contained the "back" button. I think some pages should still include some way for the user to navigate back to the main app.

e.g. example.com -> settings page (redirects to Ory Network) -> user is now stuck on Ory Network page with the only option to use the browser back button.

We currently only have the back button implemented on error pages. Here is an exa

[2022-10-26 15:23] vinckr commented on #27
To summarize you can currently do the following in self-service:

Import
- [configuration](https://www.ory.sh/docs/guides/cli/config-with-cli),
- [schemas](https://www.ory.sh/docs/guides/cli/identity-cli),
- and [users](https://www.ory.sh/docs/kratos/manage-identities/import-user-accounts-identities)
Export
- [configuration](https://www.ory.sh/docs/guides/cli/config-with-cli),
- [schemas](https://

[2022-10-26 15:24] aeneasr commented on #27
yup

[2022-10-26 15:24] #27 closed, assigned to nobody

[2022-10-28 11:39] thecodeassassin opened #170 "Data mapping not working when updated from settings"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/kratos/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/kratos/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Ne

[2022-11-01 12:34] aeneasr commented on #170
Thank you for the report! It is true that the JsonNet mapper is not applied on linking credentials. We will need to add a feature to support this use case and also provide means of merging the existing data with the new data!

[2022-11-01 13:12] aeneasr commented on #149
@Benehiko what‘s the status of this issue? I’m not sure if I follow what the problem is exactly?

[2022-11-02 13:18] Benehiko commented on #149
I think this is a problem when using the `ory proxy` since it always adds the `/.ory` path. On custom UIs that are server-side rendered it becomes a problem since initializing a flow through the ory proxy ends up at a 404.

Can't remember off the top of the my head if the tunnel also has a problem with redirecting the user - will need to verify it.

I think this issue is more related to how does o

[2022-11-02 19:36] aeneasr commented on #149
Ah I see - that's one of the reasons why we moved to the Ory Tunnel as a first-class citizen. Because it does not have any custom prefixes in the paths. Does that resolve the issue (kindof)?

[2022-11-03 10:40] Benehiko commented on #149
I will have to go through these scenarios myself quickly again and do a write-up since I do think the software/docs here can be improved so users understand how to transition from local -> staging -> production inside a singular project.

[2022-11-09 12:17] thecodeassassin commented on #170
@aeneasr I hope all is well. Is there any chance this will be picked up soon? It's rather inconvenient for our users seeing as we rely on metadata to assign our users custom roles in Discord.

[2022-11-09 12:30] aeneasr commented on #170
@kmherrmann @piotrmsc please take a look regarding priorization.

@thecodeassassin are you already on production?

[2022-11-09 12:32] thecodeassassin commented on #170
Thank you very much.

Yes, our solution is already in production.

[2022-11-09 16:11] #151 closed, assigned to hperl

[2022-11-09 21:46] thecodeassassin commented on #170
@aeneasr is there a workaround? Can we somehow retrieve their OIDC login id? I need their Discord ID for example. This is our mapping file:

https://storage.googleapis.com/bac-gcs-production/7db4d530162115ee985f43d49c6ad725ca92d69a714a0fe0676a878e7eb4b0f283e849675fe3caf1374fab7bdd5dc6660a3e1e8d4e08db1baaa6e1a42e6071b5.jsonnet

is the  claims.sub stored somewhere that we can retrieve so I can build

[2022-11-10 13:44] aeneasr commented on #170
As far as I can read this, the ID, access, and refresh tokens should be available after linking a provider in the settings flow.

Can you check if this works? https://www.ory.sh/docs/kratos/social-signin/get-tokens

[2022-11-12 02:40] rverma-dev opened #176 "Global redirect settings: Allow list automatically purged on page refresh"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-11-12 15:35] rverma-dev commented on #176
not able to reproduce now.

[2022-11-12 15:35] #176 closed, assigned to nobody

[2022-11-16 10:05] aeneasr commented on #44
This should be fixed by now!

[2022-11-16 10:05] #44 closed, assigned to nobody

[2022-11-16 10:05] #122 closed, assigned to nobody

[2022-11-20 15:44] rverma-dev opened #185 "Ory OAuth2 unavailable on new project"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-11-21 06:17] rverma-dev commented on #185
Apparently the same error message appears in all the hydra operations, odic etc...

[2022-11-21 08:10] aeneasr commented on #185
Thank you for the report! It seems like the instance has recovered. We will start an investigation to understand what happened!

[2022-11-21 12:47] aeneasr opened #186 "Not able to copy and paste the identity ID"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-11-21 12:53] jonas-jonas commented on #186
Ah, this is regarding the existing identities table.

That's definitely an issue, but not sure if this is easily fixable with the current table. Didn't we have a proposal to revamp that?

Also, for stuff where the ID actually means something, I wasn't against showing it. My point was just that a "device" ID does not provide any value currently, for identities that's definitely not the case! We can

[2022-11-21 13:01] zepatrik commented on #186
IMO we should implement this similar to stripe where it copies the ID on click and shows this tooltip on hover:
![image](https://user-images.githubusercontent.com/5354445/203061571-12631d45-406a-4c0e-b3b1-fb8cfaaa91cf.png)
![image](https://user-images.githubusercontent.com/5354445/203061747-2ef74c6d-aeaa-428c-9c10-f2fafc5b50f4.png)

[2022-11-24 13:39] bwagneras opened #187 "Possibility to define complex data types in the metadata of identity"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/platform/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/platform/blob/master/CONTRIBUTING.md).
- [X] This issue affects my [Or

[2022-11-28 11:55] vinckr opened #188 "Add GUI option to disable settings flow"
It is possible to disable the settings flow in the identity service configuration, but not in the UI.

Would be a good addition in base settings

context: https://ory-community.slack.com/archives/C02MR4DEEGH/p1669392879249409

[2022-11-28 12:50] aeneasr commented on #188
Tracked via: https://github.com/ory-corp/cloud/issues?q=is%3Aissue+is%3Aopen+label%3A%22needs+triage%22